# see: https://github.com/bitnami/charts/blob/master/bitnami/etcd/values.yaml
auth:
  rbac:
    rootPassword: "${etcd.rootPassword}"

global:
  storageClass: "${storage.class}"

persistence:
  storageClass: "${storage.class}"
  size: ${etcd.volumeSize}
