apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${component.kubeflow.namespace}
commonLabels:
  app.kubernetes.io/component: notebook-controller

resources:
- kustomize/overlays/kubeflow

configMapGenerator:
- name: config
  behavior: merge
  literals:
  - ISTIO_GATEWAY=${component.kubeflow.namespace}/kubeflow-gateway
