apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: ${hub.componentName}-artifacts
  labels:
    app.kubernetes.io/component: ${hub.componentName}
    app.kubernetes.io/name: ${hub.componentName}
data:
  accesskey: "${component.bucket.accessKey/base64}"
  secretkey: "${component.bucket.secretKey/base64}"
