apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "${argo.server.oidc.secretName}"
  labels:
    app.kubernetes.io/component: "${hub.componentName}"
    app.kubernetes.io/name: "${hub.componentName}"
stringData:
  client-id: "${argo.server.oidc.clientId/base64}"
  client-secret: "${argo.server.oidc.clientSecret/base64}"
