# https://github.com/nginxinc/kubernetes-ingress/blob/main/deployments/helm-chart/values.yaml
controller:
  kind: deployment
  appprotect:
    ## Enable the App Protect module in the Ingress Controller.
    enable: false
  logLevel: 1
  image:
    repository: "${nginx.image}"
    tag: "${nginx.imageTag}"
  replicaCount: ${nginx.replicaCount}
  ingressClass: "${ingress.class}"
  setAsDefaultIngress: ${ingress.isDefault}
  service:
    type: "${nginx.serviceType}" 