apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${component.kubeflow.namespace}
commonLabels:
  kustomize.component: tensorboard-controller
  app.kubernetes.io/component: tensorboard-controller
  app.kubernetes.io/name: tensorboard-controller

resources:
- kustomize/overlays/kubeflow
