KATIB_MYSQL_DB_DATABASE=${component.mysql.database}
KATIB_MYSQL_DB_HOST=${component.mysql.host}
KATIB_MYSQL_DB_PORT=${component.mysql.port}
DB_USER=${component.mysql.user}
DB_PASSWORD=${component.mysql.password}
