[
  {
    "op": "replace",
    "path": "/spec/filters/0/filterConfig/httpService/serverUri/uri",
    "value":"http://authservice.${component.istio.namespace}.svc.cluster.local"
  },
  {
    "op": "replace",
    "path": "/spec/workloadLabels",
    "value": {"istio": "${component.istio.ingressGateway}"}
  }
]
