apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${component.kubeflow.namespace}
commonLabels:
  app.kubernetes.io/part-of: ${component.kubeflow.name}
  app.kubernetes.io/version: "${component.kubeflow.version}"
  app.kubernetes.io/managed-by: "superhub.io"

resources:
- jupyter-web-app
- notebook-controller
