apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${kubeflow.namespace}
commonLabels:
  app.kubernetes.io/version: "${kubeflow.version}"
  app.kubernetes.io/managed-by: "hubctl"
  app.kubernetes.io/part-of: "kubeflow"

resources:
- tensorboard-controller
- tensorboards-web-app
