apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${kubernetes.namespace}
commonLabels:
  app.kubernetes.io/component: jupyter-web-app

resources:
- kustomize/overlays/istio

patchesStrategicMerge:
- configs/logos-configmap.yaml

configMapGenerator:
- name: config
  behavior: merge
  files:
  - configs/spawner_ui_config.yaml

