apiVersion: v1
kind: ConfigMap
metadata:
  name: inferenceservice-config
  namespace: ${kubernetes.namespace}
data:
  ingress: |-
    {
      "ingressDomain"  : "${ingress.hosts|first}",
      "ingressClassName" : "${ingress.class}",
      "domainTemplate": "{{ .Name }}-{{ .Namespace }}.{{ .IngressDomain }}",
      "urlScheme": "${ingress.protocol}",
      "disableIstioVirtualHost": true
    }
