appName=pipeline
appVersion=1.0.4
dbHost=${component.mysql.host}
dbPort=${component.mysql.port}
mlmdDb=metadb
cacheDb=cachedb
pipelineDb=${component.mysql.database}
bucketName=${component.bucket.name}
