# not a typo for minio and viz service
# see: https://github.com/kubeflow/pipelines/blob/master/backend/src/apiserver/client_manager.go#L37
MULTIUSER=${kubeflow.pipelines.multiUser}
DEFAULTPIPELINERUNNERSERVICEACCOUNT=default-editor
VISUALIZATIONSERVICE_NAME=ml-pipeline-visualizationserver
VISUALIZATIONSERVICE_PORT=8888
MINIO_SERVICE_SERVICE_HOST=${bucket.host}
MINIO_SERVICE_SERVICE_PORT=${bucket.port}
MINIO_SERVICE_REGION=${bucket.region}
MINIO_SERVICE_SECURE=false
MINIO_PIPELINE_BUCKET_NAME=${bucket.name}
ML_PIPELINE_VISUALIZATIONSERVER_SERVICE_HOST=ml-pipeline-visualizationserver
ML_PIPELINE_VISUALIZATIONSERVER_SERVICE_PORT=8888
