appName=pipeline
appVersion=${component.kubeflow.pipelines.version}
dbHost=${component.mysql.host}
dbPort=${component.mysql.port}
mlmdDb=metadb
cacheDb=cachedb
pipelineDb=${component.mysql.database}
bucketName=${component.bucket.name}
defaultPipelineRoot=
autoUpdatePipelineDefaultVersion=true
cronScheduleTimezone=UTC
cacheImage=gcr.io/google-containers/busybox
cacheNodeRestrictions=false
ConMaxLifeTime=120s
