# see: https://github.com/bitnami/charts/blob/main/bitnami/mysql/values.yaml
architecture: standalone
# primary:
#   persistence:
#     enabled: true
#     storageClass: "${storage.class}"
#     accessModes:
#       - ReadWriteOnce
#     size: ${storage.size}
#   service:
#     port: ${mysql.port}
# secondary:
#   persistence:
#     enabled: true
#     accessModes:
#       - ReadWriteOnce
#     size: ${storage.size}
# serviceAccount:
#   create: true
# rbac:
#   create: false
