##
## MySQL Authentication parameters
auth:
  createDatabase: true
  rootPassword: "${mysql.rootPassword}"
  database: "${mysql.database}"
  username: "${mysql.user}"
  password: "${mysql.password}"

  ## ref: https://github.com/bitnami/bitnami-docker-mysql#setting-up-a-replication-cluster
  replicationUser: replicator
  replicationPassword: ""

  forcePassword: false
  usePasswordFiles: false
