---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  # this name has been hardcoded in the kubeflow manifests
  name: kubeflow-gateway
spec:
  selector:
    app: "${component.istio.ingressGateway}"
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - '${component.ingress.host}'
