apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${component.kubeflow.namespace}
commonLabels:
  kustomize.component: ${hub.componentName}
  app.kubernetes.io/component: ${hub.componentName}
  app.kubernetes.io/name: ${component.kubeflow.name}
  app.kubernetes.io/version: "${component.kubeflow.version}"
  app.kubernetes.io/managed-by: "superhub.io"

resources:
- kustomize/metadata/base/metadata-grpc-configmap.yaml
- kustomize/metadata/base/metadata-grpc-deployment.yaml
- kustomize/metadata/base/metadata-grpc-service.yaml
- kustomize/metadata/base/metadata-grpc-sa.yaml
- kustomize/metadata/base/metadata-envoy-deployment.yaml
- kustomize/metadata/base/metadata-envoy-service.yaml
- kustomize/metadata/options/istio/virtual-service.yaml
- kustomize/metadata/options/istio/destination-rule.yaml
- kustomize/metadata/options/istio/istio-authorization-policy.yaml

patchesStrategicMerge:
- kustomize/metadata/overlays/db/patches/metadata-grpc-deployment.yaml

configMapGenerator:
- name: metadata-db-parameters
  envs:
  - db-params.env

secretGenerator:
- name: metadata-db-secrets
  envs:
  - db-secrets.env

generatorOptions:
  # TFX pipelines use metadata-grpc-configmap for finding grpc server host and
  # port at runtime. Because they don't know the suffix, we have to disable it.
  disableNameSuffixHash: true

images:
- name: gcr.io/tfx-oss-public/ml_metadata_store_server
  newTag: 1.9.0
- name: gcr.io/ml-pipeline/metadata-envoy
  newTag: ${component.kubeflow.metadata.version}
