clusterDomain=cluster.local
userid-header=kubeflow-userid
userid-prefix=
registration-flow=true
contributor-format=${component.kubeflow.dashboard.contributorFormat}
contributor-validation-message=${component.kubeflow.dashboard.contributorValidationMessage}
