apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: "${hub.componentName}-gateway"
spec:
  selector:
    istio: "${istio.ingressGateway}"
  servers:
  - hosts:
    - "${ingress.hosts}"
    - "${istio.ingressGateway}.${istio.namespace}.svc.cluster.local"
    port:
      name: http
      number: 80
      protocol: HTTP
