# see: https://github.com/SeldonIO/seldon-core/blob/master/helm-charts/seldon-core-operator/values.yaml
kubeflow: true
ambassador:
  enabled: true
  singleNamespace: false
istio:
  enabled: true
  gateway: ${kubernetes.namespace}/${hub.componentName}-gateway
keda:
  enabled: false
certManager:
  enabled: false

crd:
  create: false

predictiveUnit:
  defaultEnvSecretRefName: "argo-artifacts"
usageMetrics:
  enabled: false
